@model ClothesShop.Models.BasketItem

@{
    ViewData["Title"] = "Delete";
}



<h3>Are you sure?</h3>
<div>
    <h4>BasketItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClothingItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClothingItem.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-dark m-1" />
        <a asp-action="Index" class="btn btn-outline-dark m-1">Back</a>
    </form>
</div>
